.header {
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(206, 206, 206)

}

.menu {
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

.youtube {
    height: 20px;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
}

.middle-section {
    flex: 1;
    max-width: 450px;
    margin-left: 70px;
    margin-right: 30px;

    display: flex;
    align-items: center;
}

.right-section {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    flex-shrink: 0;
}

.search-box {
    height: 36px;
    flex:1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-radius: 2px;
    width: 0;
}

.search-box::placeholder {
    padding-left: 10px;
    font-size: 16px;
}

.search-button {
    width: 65px;
    height: 40px;
    background-color: rgb(244, 244, 244);
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    border-style: solid;
    border-radius: 2px;
    margin-left: -2px;
}

.search-button-img {
    width: 25px;
}


.voice-button {
    height: 40px;
    width: 40px;
    margin-left: 7px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 247, 247);;
}

.voice-button-img {
    margin-top: 2px;
}

.img1, .img2, .img3{
    height: 25px;
}

.img4 {
    height: 35px;
    border-radius: 17.5px;
}

.tooltip1 {
    position: absolute;
    background-color: gray;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    bottom: -25px;
    font-size: 12px;
  
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
  
    white-space: nowrap;
  }

.search-button:hover .tooltip1, 
.voice-button:hover .tooltip1, 
.r1:hover .tooltip1, 
.r2:hover .tooltip1, 
.notifications:hover .tooltip1 {
  opacity: 1;
}

